* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#container p {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
}



div #container{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}


#container #clickChangeBtn {
  display: block;
  padding: 10px 15px;
  margin: auto;
  cursor: pointer;
  border-radius: 100px;
  font-weight: bold;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

#container #clickChangeBtn:focus {
  outline: none;
}
